<!-- Header Start -->
<div class="jumbotron jumbotron-fluid bg-jumbotron" style="margin-bottom: 90px">
  <div class="container text-center py-5">
    <h3 class="text-white display-3 mb-4">About</h3>
    <div class="d-inline-flex align-items-center text-white">
      <p class="m-0"><a class="text-white" href="index.html">Home</a></p>
      <i class="far fa-circle px-3"></i>
      <p class="m-0">About</p>
    </div>
  </div>
</div>
<!-- Header End -->

<!-- About Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-lg-6 pb-5 pb-lg-0">
        <img
          class="img-fluid w-100"
          src="../assets/img/about.jpg"
          alt="Error"
        />
      </div>
      <div
        class="col-lg-6"
        style="padding-left: 50px; border-left-color: #f9a392"
      >
        <h6
          class="d-inline-block text-white text-uppercase py-1 px-2"
          style="background-color: #f9a392"
        >
          About Us
        </h6>
        <h1 class="mb-4">Your Best Spa, Beauty & Skin Care Center</h1>
        <p class="pl-4 border-left border-primary">
          &#8226; Welcome to our Spa & Beauty Center, your haven of tranquility
          and rejuvenation!
          <br />
          &#8226; <b>Holistic Harmon</b>: Immerse yourself in a world where
          relaxation meets beauty. Our spa embraces a holistic approach,
          offering a range of treatments that cater to both your physical
          well-being and inner serenity.
          <br />
          &#8226; <b>Signature Spa Experiences</b>: Indulge in our signature spa
          treatments, meticulously designed to pamper you from head to toe. From
          luxurious massages to revitalizing facials, each experience is crafted
          to leave you feeling refreshed and radiant.
          <br />
          &#8226; <b>Natural Beauty</b>: Discover the beauty of natural
          ingredients with our carefully curated skincare products. We believe
          in harnessing the power of nature to enhance your skin's vitality,
          leaving you with a luminous glow that radiates from within.
          <br />
          &#8226; <b>Expert Aestheticians</b>: Our team of skilled aestheticians
          is dedicated to providing personalized care. With expertise in the
          latest beauty trends and techniques, they are here to guide you on a
          journey to enhance and celebrate your unique beauty.
          <br />
          &#8226; <b>Serene Ambiance</b>: Step into an oasis of calmness and
          luxury. Our spa is designed to create a tranquil atmosphere, ensuring
          your visit is a retreat from the demands of everyday life. Let the
          soothing ambiance envelop you as you embark on a journey of self-care.
          <br />
          &#8226;<b> Exclusive Membership</b>: Elevate your well-being with our
          exclusive spa membership, offering special perks, discounts, and
          priority booking. Because self-care is an ongoing commitment, and you
          deserve the best.
        </p>
        <div class="row pt-3">
          <div class="col-6">
            <div class="text-center p-4" style="background-color: #f9a392">
              <h3 class="display-4 text-white" data-toggle="counter-up">99</h3>
              <h6 class="text-uppercase text-white">Spa Specialist</h6>
            </div>
          </div>
          <div class="col-6">
            <div class="text-center p-4" style="background-color: #f9a392">
              <h3 class="display-4 text-white" data-toggle="counter-up">999</h3>
              <h6 class="text-uppercase text-white">Happy Clients</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Team-->
<section class="page-section" id="team">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Our Team Members</h2>
      <h3 class="section-subheading text-muted">Leave it to the experts</h3>
    </div>
    <div class="row" id="team-members"></div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">
          Meet our team of wellness experts at our beauty and spa center. With a
          blend of skill, passion, and dedication, our specialists are committed
          to crafting rejuvenating experiences tailored to your needs. From
          skincare mavens to massage therapists, our team is here to guide you
          on your journey to relaxation and revitalization, ensuring every visit
          leaves you feeling refreshed and radiant.
        </p>
      </div>
    </div>
  </div>
</section>
