<div>
  <div>
    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-4 pb-5">
      <div
        id="header-carousel"
        class="carousel slide carousel-fade"
        data-ride="carousel"
      >
        <ol class="carousel-indicators" style="margin-top: 10px">
          <li
            data-target="#header-carousel"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#header-carousel" data-slide-to="1"></li>
          <li data-target="#header-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div
            class="carousel-item position-relative active"
            style="min-height: 100vh"
          >
            <img
              class="position-absolute w-100 h-100"
              src="../img/carousel-1.jpg"
              style="object-fit: cover"
            />
            <div
              class="carousel-caption d-flex flex-column align-items-center justify-content-center"
            >
              <div class="p-3" style="max-width: 900px">
                <h6
                  class="text-white text-uppercase mb-3 animate__animated animate__fadeInDown"
                  style="letter-spacing: 3px"
                >
                  Spa & Beauty Center
                </h6>
                <h3 class="display-3 text-capitalize text-white mb-3">
                  Massage Treatment
                </h3>
                <p class="mx-md-5 px-5">
                  Surrender to the soothing touch of serenity with our blissful
                  massage treatments!
                  <br />
                  🌿💆‍♀️
                  <br />
                  tep into a world of tranquility where the stresses of daily
                  life melt away. Our expert massage therapists are dedicated to
                  providing a rejuvenating experience that transports you to a
                  state of pure relaxation.
                </p>
                <a
                  class="btn btn-outline-light py-3 px-4 mt-3 animate__animated animate__fadeInUp"
                  href="index1.html#makeApp"
                  >Make Appointment</a
                >
              </div>
            </div>
          </div>
          <div
            class="carousel-item position-relative"
            style="min-height: 100vh"
          >
            <img
              class="position-absolute w-100 h-100"
              src="../img/carousel-2.jpg"
              style="object-fit: cover"
            />
            <div
              class="carousel-caption d-flex flex-column align-items-center justify-content-center"
            >
              <div class="p-3" style="max-width: 900px">
                <h6
                  class="text-white text-uppercase mb-3 animate__animated animate__fadeInDown"
                  style="letter-spacing: 3px"
                >
                  Spa & Beauty Center
                </h6>
                <h3 class="display-3 text-capitalize text-white mb-3">
                  Facial Treatment
                </h3>
                <p class="mx-md-5 px-5">
                  Elevate your skincare routine to new heights with our
                  luxurious facial treatments!
                  <br />
                  ✨🌸
                  <br />
                  Your skin is as unique as you are. Experience the difference
                  of personalized care with our range of facial treatments
                  designed to address your specific concerns. Say goodbye to
                  one-size-fits-all and hello to radiant, healthy skin.
                </p>
                <a
                  class="btn btn-outline-light py-3 px-4 mt-3 animate__animated animate__fadeInUp"
                  href="makeApp.html"
                  target="_blank"
                  >Make Appointment</a
                >
              </div>
            </div>
          </div>
          <div
            class="carousel-item position-relative"
            style="min-height: 100vh"
          >
            <img
              class="position-absolute w-100 h-100"
              src="../img/carousel-3.jpg"
              style="object-fit: cover; height: 80%"
            />
            <div
              class="carousel-caption d-flex flex-column align-items-center justify-content-center"
            >
              <div class="p-3" style="max-width: 900px">
                <h6
                  class="text-white text-uppercase mb-3 animate__animated animate__fadeInDown"
                  style="letter-spacing: 3px"
                >
                  Spa & Beauty Center
                </h6>
                <h3 class="display-3 text-capitalize text-white mb-3">
                  Body Treatment
                </h3>
                <p class="mx-md-5 px-5">
                  Indulge in the ultimate self-care experience with our
                  rejuvenating body treatments🌿✨
                  <br />
                  Escape the daily hustle and treat yourself to a blissful oasis
                  of relaxation. Our skilled therapists are here to pamper you
                  with luxurious body treatments designed to soothe your senses
                  and renew your spirit.
                </p>
                <a
                  class="btn btn-outline-light py-3 px-4 mt-3 animate__animated animate__fadeInUp"
                  href="makeApp.html"
                  target="_blank"
                  >Make Appointment</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Carousel End -->

    <!-- About Start -->
    <div class="container-fluid py-0">
      <div class="container py-5">
        <div class="row align-items-center">
          <div class="col-lg-6 pb-5 pb-lg-0">
            <img class="img-fluid w-100" src="../img/about.jpg" alt="" />
          </div>
          <div class="col-lg-6">
            <h6
              class="d-inline-block text-primary text-uppercase bg-light py-1 px-2"
            >
              About Us
            </h6>
            <h1 class="mb-4">Your Best Spa, Beauty & Skin Care Center</h1>
            <p class="pl-4 border-left border-primary">
              Welcome to our Spa & Beauty Center, your haven of tranquility and
              rejuvenation!
              <br />
              Discover the beauty of natural ingredients with our carefully
              curated skincare products. We believe in harnessing the power of
              nature to enhance your skin's vitality, leaving you with a
              luminous glow that radiates from within.
              <br />
            </p>
            <div class="row pt-3">
              <div class="col-6">
                <div class="bg-light text-center p-4">
                  <h3 class="display-4 text-primary" data-toggle="counter-up">
                    30
                  </h3>
                  <h6 class="text-uppercase">Spa Specialist</h6>
                </div>
              </div>
              <div class="col-6">
                <div class="bg-light text-center p-4">
                  <h3 class="display-4 text-primary" data-toggle="counter-up">
                    1000
                  </h3>
                  <h6 class="text-uppercase">Happy Clients</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About End -->

    <!-- Service Start -->
    <div class="container-fluid px-0 py-5 my-5">
      <div class="row mx-0 justify-content-center text-center">
        <div class="col-lg-6">
          <h6
            class="d-inline-block bg-light text-primary text-uppercase py-1 px-2"
          >
            Our Service
          </h6>
          <h1>Spa & Beauty Services</h1>
        </div>
      </div>
      <div class="owl-carousel service-carousel">
        <div class="service-item position-relative">
          <img class="img-fluid" src="../img/service-1.jpg" alt="" />
          <div class="service-text text-center">
            <h4 class="text-white font-weight-medium px-3">Body Massage</h4>
            <div class="w-100 bg-white text-center p-4">
              <a class="btn btn-primary" href="index1.html#makeApp"
                >Make Appointment</a
              >
            </div>
          </div>
        </div>
        <div class="service-item position-relative">
          <img class="img-fluid" src="../img/service-2.jpg" alt="" />
          <div class="service-text text-center">
            <h4 class="text-white font-weight-medium px-3">Stone Therapy</h4>
            <div class="w-100 bg-white text-center p-4">
              <a class="btn btn-primary" href="index1.html#makeApp"
                >Make Appointment</a
              >
            </div>
          </div>
        </div>
        <div class="service-item position-relative">
          <img class="img-fluid" src="../img/service-3.jpg" alt="" />
          <div class="service-text text-center">
            <h4 class="text-white font-weight-medium px-3">Facial Therapy</h4>
            <div class="w-100 bg-white text-center p-4">
              <a class="btn btn-primary" href="index1.html#makeApp"
                >Make Appointment</a
              >
            </div>
          </div>
        </div>
        <div class="service-item position-relative">
          <img class="img-fluid" src="../img/service-4.jpg" alt="" />
          <div class="service-text text-center">
            <h4 class="text-white font-weight-medium px-3">Skin Care</h4>
            <div class="w-100 bg-white text-center p-4">
              <a class="btn btn-primary" href="index1.html#makeApp"
                >Make Appointment</a
              >
            </div>
          </div>
        </div>
        <div class="service-item position-relative">
          <img class="img-fluid" src="../img/service-5.jpg" alt="" />
          <div class="service-text text-center">
            <h4 class="text-white font-weight-medium px-3">Stream Bath</h4>
            <div class="w-100 bg-white text-center p-4">
              <a class="btn btn-primary" href="index1.html#makeApp"
                >Make Appointment</a
              >
            </div>
          </div>
        </div>
        <div class="service-item position-relative">
          <img class="img-fluid" src="../img/service-6.jpg" alt="" />
          <div class="service-text text-center">
            <h4 class="text-white font-weight-medium px-3">Face Masking</h4>
            <div class="w-100 bg-white text-center p-4">
              <a class="btn btn-primary" href="index1.html#makeApp"
                >Make Appointment</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Service End -->

    <div class="container-fluid bg-pricing" style="margin: 90px 0">
      <div class="container">
        <div class="row">
          <div class="col-lg-5" style="min-height: 500px">
            <div class="position-relative h-100">
              <img
                class="position-absolute w-100 h-100"
                src="../img/pricing.jpg"
                style="object-fit: cover"
              />
            </div>
          </div>
          <div class="col-lg-7 pt-5 pb-lg-5">
            <div class="pricing-text bg-light p-4 p-lg-5 my-lg-5">
              <div class="owl-carousel pricing-carousel">
                <div class="bg-white"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- Pricing End -->
    </div>
  </div>
<script src="../js/main.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    fetch("../json/plans.json")
      .then(response => response.json())
      .then(data => {
        const pricingCarousel = document.querySelector('.pricing-carousel');

        data.cards.forEach(card => {
          const cardDiv = document.createElement('div');
          cardDiv.classList.add('bg-white');
          cardDiv.style.minHeight = '300px';

          const headerDiv = document.createElement('div');
          headerDiv.classList.add('d-flex', 'align-items-center', 'justify-content-between', 'border-bottom', 'border-primary', 'p-4');

          const priceH1 = document.createElement('h1');
          priceH1.classList.add('display-4', 'mb-0');

          const dollarSignSmall = document.createElement('small');
          dollarSignSmall.classList.add('align-top', 'text-muted', 'font-weight-medium');
          dollarSignSmall.style.fontSize = '22px';
          dollarSignSmall.style.lineHeight = '45px';
          dollarSignSmall.textContent = '$';

          const priceSpan = document.createElement('span');
          priceSpan.textContent = card.price;

          const perMonthSmall = document.createElement('small');
          perMonthSmall.classList.add('align-bottom', 'text-muted', 'font-weight-medium');
          perMonthSmall.style.fontSize = '16px';
          perMonthSmall.style.lineHeight = '40px';
          perMonthSmall.textContent = '/Mo';

          priceH1.appendChild(dollarSignSmall);
          priceH1.appendChild(priceSpan);
          priceH1.appendChild(perMonthSmall);

          const nameH5 = document.createElement('h5');
          nameH5.classList.add('text-primary', 'text-uppercase', 'm-0');
          nameH5.textContent = card.name;

          headerDiv.appendChild(priceH1);
          headerDiv.appendChild(nameH5);

          const featuresDiv = document.createElement('div');
          featuresDiv.classList.add('p-4');

          card.features.forEach(feature => {
            const featureP = document.createElement('p');
            const checkIcon = document.createElement('i');
            checkIcon.classList.add('fa', 'fa-check', 'text-success', 'mr-2');
            const featureSpan = document.createElement('span');
            featureSpan.textContent = feature;
            featureP.appendChild(checkIcon);
            featureP.appendChild(featureSpan);
            featuresDiv.appendChild(featureP);
          });

          cardDiv.appendChild(headerDiv);
          cardDiv.appendChild(featuresDiv);
          pricingCarousel.appendChild(cardDiv);
        });
      })
      .catch(error => console.error('Error fetching data:', error));
  });
</script>
