<!-- Masthead-->
<header class="masthead">
  <div class="container">
    <div class="masthead-subheading">SPA & BEAUTY CENTER</div>
    <div class="masthead-heading text-uppercase">
      Discover a world of tranquility
    </div>
    <a class="btn btn-primary btn-xl text-uppercase" href="#services"
      >Tell Me More</a
    >
  </div>
</header>

<!-- About-->
<section class="page-section" style="padding-bottom: 2rem">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">About Us</h2>
      <h3 class="section-subheading text-muted">
        Your Best Spa, Beauty & Skin Care Center
      </h3>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="../assets/img/service-2.jpg"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="subheading">Our Story</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Welcome to Desert Spring, where beauty meets relaxation. Our
              journey began with a simple idea: to create a seamless and
              convenient way for individuals to indulge in self-care and
              rejuvenation. Inspired by our love for wellness and beauty, we
              embarked on a mission to redefine the spa experience. Through
              dedication and passion, we transformed this vision into reality,
              overcoming obstacles and refining our approach every step of the
              way. Today, we're proud to offer a state-of-the-art appointment
              system that prioritizes your comfort, convenience, and
              satisfaction.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="../assets/img/service-3.jpg"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="subheading">Mission and Values</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              We're committed to enhancing your well-being and confidence
              through personalized spa and beauty services. Our mission is
              simple: to provide exceptional experiences that leave you feeling
              refreshed, revitalized, and radiant. We believe in the power of
              self-care and strive to create a sanctuary where you can escape
              the stresses of everyday life and focus on your holistic wellness.
              Integrity, professionalism, and innovation are at the heart of
              everything we do, guiding our efforts to exceed your expectations
              and exceed industry standards. expect.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="../assets/img/service-4.jpg"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="subheading">Team and Expertise</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Behind Desert Spring is a team of dedicated professionals who are
              passionate about helping you look and feel your best. From skilled
              estheticians and massage therapists to talented stylists and
              administrative staff, each member of our team brings a wealth of
              expertise and a commitment to excellence. Trained in the latest
              techniques and equipped with industry-leading products, we're here
              to pamper you with personalized care and attention to detail. Meet
              the faces behind the magic and discover the difference our team
              can make in your self-care journey.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="../assets/img/service-5.jpg"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="subheading">Client Testimonials</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Don't just take our word for it—hear what our clients have to say
              about their experiences.]. "I've never felt more relaxed and
              rejuvenated than after a visit to Desert Spring. The attention to
              detail and personalized service exceeded my expectations." - Sarah
              M. "The team at Desert Spring truly goes above and beyond to
              ensure a memorable experience. I always leave feeling like a
              million bucks!" - David R. Join the countless others who have
              discovered the transformative power of our spa and beauty
              services. Schedule your appointment today and experience the
              difference for yourself.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Be Part
            <br />
            Of Our
            <br />
            Story!
          </h4>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- Services -->
<section class="page-section" style="padding-top: 2rem">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Categories</h2>
      <h3 class="section-subheading text-muted">
        Everything that you need to relax and enjoy
      </h3>
    </div>
    <ul class="service-grid" id="category" role="list">
      <!-- service items will be appended here -->
    </ul>
  </div>
</section>
