<!-- Header Start -->
<div class="jumbotron jumbotron-fluid bg-jumbotron" style="margin-bottom: 90px">
  <div class="container text-center py-5">
    <h3 class="text-white display-3 mb-4">Our Services</h3>
    <div class="d-inline-flex align-items-center text-white">
      <p class="m-0"><a class="text-white" href="index.html">Home</a></p>
      <i class="far fa-circle px-3"></i>
      <p class="m-0">About</p>
    </div>
  </div>
</div>
<!-- Header End -->

<!--Facial Treatments-->
<section class="page-section" style="padding-top: 2rem">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Facial treatments</h2>
        <h3 class="section-subheading text-muted">
          Revitalize your skin with a facial treatment.
        </h3>
      </div>
      <div class="card-row">
        <div class="card">
          <img src="../assets/img/about.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Hydrating Facial</h5>
            <p class="card-text">
              Designed to replenish moisture and revitalize dry skin, leaving it
              soft and supple.
            </p>
            <a href="#app" class="btn btn-primary">Make an Appointment</a>
            <span class="price">$50</span>
          </div>
        </div>
        <div class="card">
          <img src="../assets/img/facial.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Deep Cleansing Facial</h5>
            <p class="card-text">
              Targets clogged pores and impurities, purifying the skin and
              preventing breakouts.
            </p>
            <a href="#app" class="btn btn-primary">Make an Appointment</a>
            <span class="price">$50</span>
          </div>
        </div>
        <div class="card">
          <img src="../assets/img/service-1.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Anti-Aging Facial</h5>
            <p class="card-text">
              Addresses signs of aging such as fine lines and wrinkles, promoting
              firmer, youthful-looking skin.
            </p>
            <a href="#app" class="btn btn-primary">Make an Appointment</a>
            <span class="price">$50</span>
          </div>
        </div>
        <div class="card">
          <img src="../assets/img/service-2.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Brightening Facial</h5>
            <p class="card-text">
              Helps to reduce dark spots and uneven skin tone, revealing a radiant
              complexion.
            </p>
            <a href="#app" class="btn btn-primary">Make an Appointment</a>
            <span class="price">$50</span>
          </div>
        </div>
      </div>
      </div>
    </div>
</section>
  

   <section class="page-section" style="padding-top: 2rem">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Body treatments</h2>
        <h3 class="section-subheading text-muted">
          Indulge in a rejuvenating body treatment.
        </h3>
      </div>
      <div class="card-row">
        <div class="card">
          <img
            src="../assets/img/side-view-woman-getting-massaged-spa.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Body Scrub</h5>
            <p class="card-text">
              Exfoliates and removes dead skin cells, leaving the skin smooth and
              rejuvenated.
            </p>
            <a href="#app" class="btn btn-primary">Make an Appointment</a>
            <span class="price">$50</span>
          </div>
        </div>
        <div class="card">
          <img src="../assets/img/wrap.jpeg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Body Wrap</h5>
            <p class="card-text">
              Uses various ingredients like seaweed, or clay to detoxify the body,
              improve circulation, and promote relaxation.
            </p>
            <a href="#app" class="btn btn-primary">Make an Appointment</a>
            <span class="price">$50</span>
          </div>
        </div>
        <div class="card">
          <img src="../assets/img/wrap2.jpeg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Hydrating Body Wrap</h5>
            <p class="card-text">
              Nourishes and moisturizes the skin deeply, restoring its natural
              glow and hydration.
            </p>
            <a href="#app" class="btn btn-primary">Make an Appointment</a>
            <span class="price">$50</span>
          </div>
        </div>
        <div class="card">
          <img
            src="../assets/img/cellulite.jpeg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Cellulite Reduction</h5>
            <p class="card-text">
              Targets areas prone to cellulite, using techniques like massage,
              lymphatic drainage.
            </p>
            <a href="#app" class="btn btn-primary">Make an Appointment</a>
            <span class="price">$50</span>
          </div>
        </div>
      </div>
    </div>
    </section>
    <!--Massage Treatments-->
  <section class="page-section" style="padding-top: 2rem">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Massage treatments</h2>
        <h3 class="section-subheading text-muted">
          Relax and unwind with our soothing massage treatments.
        </h3>
      </div>
      <div class="card-row">
        <div class="card">
          <img src="../assets/img/service-3.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Swedish Massage</h5>
            <p class="card-text">
              A gentle, relaxing massage that uses long strokes, kneading, and
              circular movements to promote relaxation and improve circulation.
            </p>
            <a href="#app" class="btn btn-primary">Make an Appointment</a>
            <span class="price">$50</span>
          </div>
        </div>
        <div class="card">
          <img
            src="../assets/img/carousel-1.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Deep Tissue Massage</h5>
            <p class="card-text">
              Targets deeper layers of muscles and connective tissue to release
              chronic tension and knots, providing relief from muscle stiffness
              and pain.
            </p>
            <a href="#app" class="btn btn-primary">Make an Appointment</a>
            <span class="price">$50</span>
          </div>
        </div>
        <div class="card">
          <img
            src="../assets/img/carousel-3.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Hot Stone Massage</h5>
            <p class="card-text">
              Involves the use of heated stones placed on specific points of the
              body to relax muscles and promote deep relaxation. Try something
              new.
            </p>
            <a href="#app" class="btn btn-primary">Make an Appointment</a>
            <span class="price">$50</span>
          </div>
        </div>
        <div class="card">
          <img
            src="../assets/img/carousel-2.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Aromatherapy Massage</h5>
            <p class="card-text">
              Combines massage techniques with the use of essential oils to
              enhance relaxation, reduce stress, and alleviate specific ailments
              or concerns.
            </p>
            <a href="#app" class="btn btn-primary">Make an Appointment</a>
            <span class="price">$50</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>


