<div class="logInDiv">
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-4 pb-5">
        <!-- Account Sidebar-->
        <div class="author-card pb-3">
          <div
            class="author-card-cover"
            style="
              background-image: url(https://bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg);
            "
          ></div>
          <div class="author-card-profile">
            <div class="author-card-avatar">
              <img
                src="../img/profile1.jpg"
                alt="Daniel Adams"
                style="width: 315px; height: 315px"
              />
            </div>
            <div class="author-card-details">
              <h5 class="author-card-name text-lg" style="text-align: center">
                Emma Stone
              </h5>
            </div>
            <button
              class="btn btn-primary"
              style="margin-left: 90px"
              type="button"
            >
              Upload new image
            </button>
          </div>
        </div>
        <div class="wizard">
          <nav class="list-group list-group-flush">
            <a class="list-group-item" href="#myacc"
              ><i class="fa fa-user text-muted"></i> APPOINTMENTS</a
            ><a class="list-group-item active" href="">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <i class="fa fa-calendar mr-1 text-muted"></i>
                  <div class="d-inline-block font-weight-medium text-uppercase">
                    Profile Settings
                  </div>
                </div>
              </div>
            </a>
          </nav>
        </div>
      </div>
      <!-- Account details card-->
      <div class="card mb-0" style="width: 700px">
        <div class="card-header">Account Details</div>
        <div class="card-body">
          <form style="margin-top: 50px">
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (first name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputFirstName"
                  >First name</label
                >
                <input
                  class="form-control"
                  id="inputFirstName"
                  type="text"
                  placeholder="Enter your first name"
                  value="Emma"
                />
              </div>
              <!-- Form Group (last name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputLastName">Last name</label>
                <input
                  class="form-control"
                  id="inputLastName"
                  type="text"
                  placeholder="Enter your last name"
                  value="Stone"
                />
              </div>
            </div>
            <!-- Form Row        -->
            <div class="row gx-3 mb-3">
              <!-- Form Group (organization name)-->

              <div class="col-md-6">
                <label class="small mb-1" for="inputEmailAddress"
                  >Email address</label
                >
                <input
                  class="form-control"
                  id="inputEmailAddress"
                  type="email"
                  placeholder="Enter your email address"
                  value="name@example.com"
                  disabled
                />
              </div>
              <!-- Form Group ()-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputPhone">Phone number</label>
                <input
                  class="form-control"
                  id="inputPhone"
                  type="tel"
                  placeholder="Enter your phone number"
                  value="555-123-4567"
                />
              </div>
            </div>

            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (phone number)-->
              <div class="col-md-6">
                <label class="small mb-1" for="password">Password</label>
                <input
                  class="form-control"
                  id="password"
                  type="password"
                  placeholder="Enter your password"
                />
              </div>
              <!-- Form Group (birthday)-->
              <div class="col-md-6">
                <label class="small mb-1" for="password">New password</label>
                <input
                  class="form-control"
                  id="password"
                  type="password"
                  name="password"
                  placeholder="Enter your new password"
                />
              </div>
            </div>
            <!-- Save changes button-->
            <button class="btn btn-primary" type="button">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
